@width:percentage(0.3);
@height:500px;
@font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
@font-size-title :14px;
@font-size-sub-title :12px;
@font-size-other-title :16px;
body{
  overflow:hidden;
  font-family:@font-family;
}
.container{
  margin:0 auto;

  h1{
    font-size: @font-size-other-title;
    color:#555b79;
  }
  .myclass {
    width: @width;
    height:@height;
    padding:20px;
    background-image: linear-gradient(180deg, #cbdaea, #eaf4ff);
    .floatLeft{
      float:left;
    }
    select, .currentDate{
      margin:20px;
      border: 1px solid #a4bcd6;
      border-radius: 10px;
      width:140px;
      hight:20px;
      background-color: transparent;
      color:#555b79;
      font-size: @font-size-sub-title;
      float:left;
      padding:5px;
    }
    span {
      font-size: @font-size-title;
      color: #E45456;
    }
    .eventMain {
      padding-left: 10px;
      border-left: 2px solid #dde9f7;
      margin :10px 25px;
      overflow-y: scroll;
      li > {
        float: left;
        clear: both;
        list-style: none;
        position:relative;
        .eventIcon{
          height: 32px;
          width: 32px;
          background-repeat: no-repeat;
          position: absolute;
          left: 4px;
          top:4px;
        }
        .otaEventIcon{
          background: url("/img/ota.png");

        }
        .waterEventIcon{
          background: url("/img/water.png");
        }
        .limitEventIcon{
          background: url("/img/limit.png");
        }
        .title {
          font-size: @font-size-title;
          padding: 10px 5px 5px 40px;
        }
        .subTitle {
          font-size: @font-size-sub-title;
          color: #8f94ae;
          padding: 0px 0px 10px 40px
        }
        .elementFocused{
          display : none;
        }
        .success {
          color: #2be393
        }
        .fail {
          color: #ef3964
        }
        .pending {
          color: #333;
        }

        .eventDetail:not(.eventDetailWaterUse){
          ul {
            padding-left: 0px;
            margin-left: 0px;
            li > {
              float: left;
              clear:none;
              list-style: none;
              color: #3757ff;
              font-size: @font-size-other-title;
              span{
                font-size :15px;
                color: #3757ff;
              }
            }
            .padd5{
              padding: 0px 5px;
            }
            .padd0{
              padding-left: 0px;
            }
          }
        }
        .eventDetailWaterUse {
          ul {
            padding-left: 40px;
            margin-left: 0px;
            li > {
              float: left;
              clear:none;
              list-style: none;
              color: #3757ff;
              font-size: @font-size-other-title;
              span{
                font-size :15px;
                color: #3757ff;
              }
            }
          }
          .paddFix{
            padding:0px 6px 10px 0px;
          }
          li:after
          {
            content: ' |';
            color:#8f94ae;
            font-size:20px;
          }
          li:last-child:after
          {
            content: '';
          }
          span{
            font-size :12px;
          }
        }

      }
    }
  }
}
